<!DOCTYPE html>
<html>
    <head>
        <title>KeyFind</title>
        <link rel = "stylesheet" href = "../static/style2.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class = "main">
        <h1>KeyFind</h1>
        <form action = "/keysresult" method = "post">

            <label><input type = "checkbox" name = "note0" value = "A">A</label><br>


            <label><input type = "checkbox" name = "note1" value = "B FLAT">A#/Bb</label><br>


            <label><input type = "checkbox" name = "note2" value = "B">B</label><br>


            <label><input type = "checkbox" name = "note3" value = "C">C</label><br>


            <label><input type = "checkbox" name = "note4" value = "D FLAT">C#/Db</label><br>


            <label><input type = "checkbox" name = "note5" value = "D">D</label><br>


            <label><input type = "checkbox" name = "note6" value = "E FLAT">D#/Eb</label><br>



            <label><input type = "checkbox" name = "note7" value = "E">E</label><br>


            <label><input type = "checkbox" name = "note8" value = "F">F</label><br>


            <label><input type = "checkbox" name = "note9" value = "G FLAT">F#/Gb</label><br>


            <label><input type = "checkbox" name = "note10" value = "G">G</label><br>


            <label><input type = "checkbox" name = "note11" value = "A FLAT">G#/Ab</label><br>

            <button type = "submit">See possible keys</button>
        </form>
        </div>
    </body>
</html>