body {
    /*background-color: #F5DEB3;*/
    background-image: url('img11edit2.jpg');
    line-height: 1.5px
    text-align: center;
    font-family: "Roboto Slab", serif;
    font-size: 1.5em;
    padding: 100px;
}
div.main {
    background-color: #ffffff;
    padding: 40px;
    text-align: center;
    opacity: 85%;
}
h1 {
    font-family: "Indie Flower";
    opacity: 100%;
}
form {
    text-align: center;
    opacity: 100%;
}
label {
    text-align: left;
}
button {
    margin-top: 40px;
    background-color: green;
    color: #ffffff;
    opacity: 100%;
}